.container {
    display: flex;
    flex-direction: column;

    padding: 2rem 1.25rem 2rem 1.625rem;
}

.details {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    margin-bottom: 2.75rem;
}

.wrapper {
    position: relative;
    top: 0.75rem;
}

.time {
    min-width: 4rem;

    margin: 0;
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;
    color: #232323;
}

.city {
    margin: 0;

    font-size: 0.875rem;
    font-weight: 500;
    color: #5c5c5c;
}

.date {
    margin: 0;

    font-size: 0.875rem;
    font-weight: 400;
    color: #5c5c5c;
}

.wrapperDrawing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawing {
    display: flex;
    justify-content: space-between;

    min-width: 270px;
}

.code {
    margin: 0;
    margin-bottom: 0.5rem;

    font-size: 0.875rem;
    color: #b7bac1;
}

.line {
    position: relative;

    display: block;

    margin-bottom: 0.5rem;

    width: 90%;
    height: 0.0625rem;

    background-color: #b7bac1;
}

.line::before,
.line::after {
    content: "";

    position: absolute;

    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;
    background-color: #b7bac1;
}

.line::before {
    top: -0.25rem;
    left: -0.25rem;
}

.line::after {
    top: -0.25rem;
    right: -0.25rem;
}

.duration {
    margin: 0;

    font-size: 0.875rem;
    color: #b7bac1;
}

.baggage {
    display: flex;
    gap: 0.625rem;
    align-items: flex-end;
}

.timeList {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.timeList li {
    margin: 0;

    list-style-type: none;
}
